<div class="intro">
  <h1>GEORGE DOUDOULIAKIS</h1>
  <h2 gdTypeWriter="Front End Web Developer"></h2>
  <p>My motivation for finding the best patterns to develop a program have brought me to where i am today. Every day i try to exchange thoughts with other developers in order to find the best possible solution for every case.</p>
  <div class="technologies">
    <div class="technology-container">
      <div class="technology-img-container">
        <img class="responsive-img" ngSrc="/assets/images/html_logo.png" alt="HTML5 logo" height="20" width="20">
      </div>
      <span>HTML5</span>
    </div>
    <div class="technology-container">
      <div class="technology-img-container">
        <img class="responsive-img" ngSrc="/assets/images/css_logo.png" alt="CSS3 logo" height="20" width="20">
      </div>
      <span>CSS3</span>
    </div>
    <div class="technology-container">
      <div class="technology-img-container">
        <img class="responsive-img" ngSrc="/assets/images/js_logo.png" alt="JavaScript logo" height="20" width="20">
      </div>
      <span>JavaScript</span>
    </div>
    <div class="technology-container">
      <div class="technology-img-container">
        <img class="responsive-img" ngSrc="/assets/images/ts_logo.png" alt="TypeScript logo" height="20" width="20">
      </div>
      <span>TypeScript</span>
    </div>
    <div class="technology-container">
      <div class="technology-img-container">
        <img class="responsive-img" ngSrc="/assets/images/angular_logo.png" alt="Angular logo" height="20" width="20">
      </div>
      <span>Angular 2+</span>
    </div>
  </div>
  <div class="buttons-container">
    <button><a routerLink="about" class="primary-btn">More About Me</a></button>
    <a href="/assets/cv-pdf/DOUDOULIAKIS_GEORGIOS_CV.pdf" class="secondary-btn" target="_self" download>Download CV</a>
  </div>
</div>
