<div class="intro">
  <h1>GEORGE DOUDOULIAKIS</h1>
  <h2 gdTypeWriter="Front End Web Developer"></h2>
  <p>My motivation for finding the best patterns to develop an application have brought me to where i am today. Every day i try to exchange thoughts with other developers in order to find the best possible solution for every case.</p>
  <p>Specialized in HTML, CSS, JavaScript, TypeScript and Angular 2+</p>
  <div class="buttons-container">
    <button><a routerLink="about" class="primary-btn">More About Me</a></button>
    <a href="/assets/cv-pdf/DOUDOULIAKIS_GEORGIOS_CV.pdf" class="secondary-btn" target="_self" download>Download CV</a>
  </div>
</div>
