<div class="intro">
  <h1>GEORGE DOUDOULIAKIS</h1>
  <h2 gdTypeWriter="Front End Web Developer"></h2>
  <p>My motivation for finding the best patterns to develop a program have brought me to where i am today. Every day i try to exchange thoughts with other developers in order to find the best possible solution for every case.</p>
  <p>Specialized in HTML, CSS, JavaScript, TypeScript and Angular 2+.</p>
  <div class="buttons-container">
    <button><a routerLink="about" class="primary-btn">More About Me</a></button>
    <a href="/assets/cv-pdf/DOUDOULIAKIS_GEORGIOS_CV.pdf" class="secondary-btn" target="_self" download>Download CV</a>
  </div>
</div>
<div class="technologies">
  <div class="technologies-row">
    <div class="technology-img-container">
      <img class="responsive-img" ngSrc="/assets/images/html_logo.png" alt="HTML5 logo" height="60" width="60">
    </div>
    <div class="technology-img-container">
      <img class="responsive-img" ngSrc="/assets/images/css_logo.png" alt="CSS3 logo" height="60" width="60">
    </div>
    <div class="technology-img-container">
      <img class="responsive-img" ngSrc="/assets/images/angular_logo.png" alt="Angular logo" height="60" width="60">
    </div>
  </div>
  <div class="technologies-row">
    <div class="technology-img-container">
      <img class="responsive-img" ngSrc="/assets/images/ts_logo.png" alt="TypeScript logo" height="60" width="60">
    </div>
    <div class="technology-img-container">
      <img class="responsive-img" ngSrc="/assets/images/js_logo.png" alt="JavaScript logo" height="60" width="60">
    </div>
  </div>
</div>
