:host {
  .intro {
    span, h1, p {
      display: block;
    }

    span, h1 {
      font-size: 30px;
    }

    span {
      margin-bottom: 5px;
    }

    h1 {
      height: 34px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: var(--font-color);
      margin-bottom: 25px;
    }

    button {
      font-size: 18px;
    }
  }
}
