:host {
  .intro {
    width: 100%;

    @media(min-width: 960px) {
      width: 85%;
    }

    @media(min-width: 1140px) {
      width: 70%;
    }

    h1 {
      font-weight: 900;
      margin-bottom: 5px;
    }

    h2 {
      font-weight: 500;
      height: 34px;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: var(--font-color);
      line-height: 26px;

      &:first-of-type {
        margin-bottom: 10px;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    .buttons-container {
      display: flex;

      button {
        margin-right: 15px;
      }

      a {
        font-size: 18px;
      }
    }
  }
}
