:host {
  footer {
    background: var(--primary-color);

    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: var(--container-padding);
      
      span,
      .social-media > a {
        color: var(--secondary-color);
      }
      
      span {
        margin-bottom: 10px;
      }

      .social-media {
        a {
          text-decoration: underline;

          &:last-of-type {
            margin-left: 10px;
          }
        }
      }

      @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          margin-bottom: 0;
        }
      }
    }
  }
}
