:host {
  footer {
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 32px 0;
      border-top: 1px solid var(--border-color);
      
      span,
      .social-media > a {
        font-size: 18px;
        color: var(--font-color);
      }
      
      span {
        margin-bottom: 15px;
      }

      .social-media > a {
        &:last-of-type {
          margin-left: 10px;
        }

        &:hover > svg {
          transform: scale(1.1);
        }

        svg {
          fill: var(--font-color);
        }
      }

      @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          margin-bottom: 0;
        }
      }
    }
  }
}
