:host {
  nav {
    ul {
      display: flex;
      align-items: center;

      li:not(:last-of-type) {
        margin-right: 10px;
      }

      a {
        position: relative;
        padding: var(--main-padding);
        color: var(--font-color);
        transition: .4s ease-in-out;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          content: "";
          width: 0;
          height: 100%;
          background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
          z-index: -1;
          transition: .4s ease-in-out;
        }

        &:hover {
          color: var(--text-color);
        }

        &:hover::after {
          width: 100%;
        }

        &.active-link {
          color: var(--text-color);
          background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        }
      }
    }
  }
}
