:host {
  p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;

    @media(min-width: 768px) {
      text-align: initial;
    }
  }

  .technologies-container {
    margin: 0 auto 20px;

    span:not(:last-of-type) {
      margin-right: 10px;
    }

    @media(min-width: 768px) {
      text-align: initial;
      margin: 0 0 20px;
    }
  }

  .buttons-container {
    margin: auto;

    button {
      font-size: 16px;
    }

    @media (min-width: 768px) {
      margin: initial;
    }
  }
}
