:host {
  .card-header {
    h2 {
      font-size: 20px;

      a {
        font-weight: 100;
        font-style: italic;
        margin-left: 8px;
        color: var(--primary-color);

        &:hover {
            color: var(--secondary-color);
            text-decoration: underline;
        }
      }
    }
  }

  ul {
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font-color);

      @media(min-width: 768px) {
        justify-content: flex-start;
      }

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      svg {
        margin-right: 8px;
        stroke: var(--secondary-color);
      }
    }
  }
}
