:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;

  .experience-card-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;

      @media(min-width: 768px) {
        text-align: initial;
        margin-bottom: 0;
      }

      a {
        font-weight: 100;
        font-style: italic;
        margin-left: 8px;
        color: var(--primary-color);

        &:hover {
            color: var(--secondary-color);
            text-decoration: underline;
        }
      }
    }

    .duration {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: var(--secondary-color);

      @media(min-width: 768px) {
        font-size: 16px;
        text-align: initial;
        padding: var(--main-padding);
        margin-bottom: 0;

        border: 1px solid var(--secondary-color);
      }
    }
  }

  ul {
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font-color);

      @media(min-width: 768px) {
        justify-content: flex-start;
      }

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      svg {
        margin-right: 8px;
        stroke: var(--secondary-color);
      }
    }
  }
}
