:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &:not(:last-of-type) {
      margin-bottom: 40px;
  }

  .experience-card-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border-color);

    @media(min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    h2 {
      order: 1;
      font-size: 20px;
      text-align: center;
      line-height: 28px;

      @media(min-width: 768px) {
        order: initial;
        text-align: initial;
        margin-bottom: 0;
      }

      span, a {
        font-weight: 100;
      }

      a {
        font-style: italic;
        margin-left: 8px;
        color: var(--primary-color);

        &:hover {
            color: var(--secondary-color);
            text-decoration: underline;
        }
      }
    }

    .duration {
      order: 0;
      text-align: center;
      color: var(--text-color);
      background: var(--secondary-color);
      padding: var(--main-padding);
      margin-bottom: 10px;
      border-radius: 4px;

      @media(min-width: 768px) {
        order: initial;
        text-align: initial;
        margin-bottom: 0;
      }
    }
  }

  ul {
    padding-top: 15px;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--font-color);

      @media(min-width: 768px) {
        justify-content: flex-start;
      }

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      svg {
        margin-right: 8px;
        stroke: var(--secondary-color);
      }
    }
  }
}
