<p>It's time to learn more about me. Let me introduce myself!</p>
<p>My name is George Doudouliakis and i am a Front End Web Developer with more than 2 years of experience, located in Thessaloniki (GR).</p>
<p>I started my journey in 2020 with simple websites and after i improved my skills on JavaScript, i started learning TypeScript and Angular 2+.</p>
<p>My daily goal is to find the best possible solution depending on the given problem, enhance my skills on programming with learning either from my personal projects, my work or online resources and exchange thoughts with other developers.</p>
