<blockquote>Programming isn't about what you know, it's about what you can figure out - Chris Pine</blockquote>
<p>It's time to learn more about me. Let me introduce myself!</p>
<p>My name is George Doudouliakis and i am a Front End Web Developer with more than 2 years of experience, located in Thessaloniki (GR).</p>
<p>Βuilding websites was my motivation to get started with the 'world' of Front End Web Development in early 2020. After building some simple websites to learn HTML and CSS i started with JavaScript and then Angular 2+.</p>
<p>My daily goal is to find the best possible solution depending on the given problem, enhance my skills on programming with learning either from my personal projects, my work or online resources and exchange thoughts with other developers.</p>
<p>I try to write clean code in the best possible way in order to achieve better performance and coding experience with respect to User Experience.</p>
