:host {
  p, blockquote {
    text-align: center;
  }

  p:last-of-type,
  blockquote {
    margin-bottom: 40px;
  }

  p {
    &:not(:last-of-type) {
        margin-bottom: 5px;
    }
  }

  blockquote {
    font-style: italic;
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }
}
