:host {
    .projects-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;

        @media(min-width: 960px) {
            flex-direction: row;
        }

        gd-projects-list-item {
            width: 100%;

            @media(min-width: 960px) {
                width: calc(50% - 10px);
            }
        }
    }
}