:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(1) > div {
      background: #dd4b25;
    }

    &:nth-child(2) > div {
      background: #214ce5;
    }

    &:nth-child(3) > div {
      background: #e5a11f;
    }

    &:nth-child(4) > div {
      background: #377cc8;
    }

    &:nth-child(5) > div {
      background: #c50836;
    }

    &:nth-child(6) > div {
      background: #cf649a;
    }

    &:nth-child(7) > div {
      background: #f05539;
    }

    &:nth-child(8) > div {
      background: #080808;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      margin-bottom: 15px;

      > svg {
        fill: var(--text-color);
      }
    }

    span {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
