:host {
  h1 {
    font-size: 80px;
  }

  p, a {
    font-size: 18px;
  }

  p {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 30px;
    line-height: 28px;
  }

  button {
    display: block;
    margin: auto;
  }
}
