:host {
  p, li {
    font-size: 18px;
  }

  p {
    margin-bottom: 30px;
    color: var(--font-color);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 0;

    li {
      font-weight: 600;
      text-align: center;
      width: 100%;

      @media(min-width: 575px) {
        width: 48%;
      }

      @media(min-width: 768px) {
        width: 32%;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        color: #fff;
      }

      &:nth-child(1) {
        background: #dd4b25;
      }

      &:nth-child(2) {
        background: #214ce5;
      }

      &:nth-child(3) {
        background: #f7e025;
        color: #000;
      }

      &:nth-child(4) {
        background: #377cc8;
      }

      &:nth-child(5) {
        background: #c50836;
      }

      &:nth-child(6) {
        background: #f05539;
      }

      &:nth-child(7) {
        background: #080808;
      }
    }
  }
}
