<section>
  <h2>Find me on social</h2>
  <div class="social-media-container">
    <a class="img-container" href="https://www.linkedin.com/in/georgios-doudouliakis-b97a5b19a/" target="_blank" rel="noopener">
      <img class="responsive-img" ngSrc="/assets/images/linkedin_logo.png" alt="Linkedin logo" width="28" height="28" [priority]="true">
    </a>
    <a class="img-container" href="https://www.facebook.com/george.dudu" target="_blank" rel="noopener">
      <img class="responsive-img" ngSrc="/assets/images/facebook_logo.png" alt="Facebook logo" width="28" height="28" [priority]="true">
    </a>
  </div>
</section>
