:root {
  --primary-color: #006894;
  --secondary-color: #fff;
  --bg-color: #fafafa;
  --hover-color: #003D9E;
  --main-padding: 8px 16px;
  --container-padding: 25px 0;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

/* Global Overwrites */
button {
  color: var(--secondary-color);
  background: var(--primary-color);
  border: none;
  transition: .4s ease-in-out;
  &:not(:has( > a)) {
    padding: var(--main-padding);
  }
  &:has(> a) {
    & > a {
      padding: var(--main-padding);
    }
  }
  &:hover:not(:has(>a)) {
    background: var(--hover-color);
  }
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/* Reusable Classes */
.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
